* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(#365c88, #11214a 50%, #000)
}

section {
	padding: 0!important;
}

/*Navbar*/

	#logo2 {
		width: 80px;
		height: 80px;
	}

	.home-page header #logo2 {
		display: none;
	}

	.project-page header .logo {
		display: none;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 130px;
		background-color: white;
		padding: 10px 30px 10px 30px;
		margin-top: 15px; 
	}

	header .logo {
		height: 90%!important;
		width: 24%!important;
	}

	.nav-links {
		list-style: none;
	}

	.nav-links li {
		font-family: 'Merriweather Sans', sans-serif;
		font-size: .8rem;
		font-weight: bold;
		display: inline-block;
		padding: 0 20px;
	}

	.nav-links li a {
		text-decoration: none;
		color: #51588a;
		padding: 5px;
	}

	.nav-links li a {
	  transition: all 2s;
	}

	.nav-links li a {
		position: relative;
	}

	.nav-links li a:after {
		position: absolute;
		bottom: 0;
	  	left: 0;
	  	right: 0;
	  	margin: auto;
	  	width: 0%;
	  	content: '.';
	  	color: transparent;
	  	background: #d5b37a;
	  	height: 2px;
	}

	.nav-links li a:hover {
		color: #d5b37a;
	}

	.nav-links li a:hover:after {
		transition: all .7s;
		width: 100%;
	}

	/*-- navbar for mobile --*/

	.navbar-brand img {
		height: 60px;
		width: 190px;
	}

	#navbarForMobile {
		height: 90px;
		background: white!important;
	}

	.navbar-toggler {
		border-color: transparent!important;
		position: absolute!important;
		right: 0!important;
		top: 25px;
	}

	/*-- HAMBURGER --*/

	#nav-icon4 {
		width: 30px;
		height: 10px;
		position: relative;
		margin: 10px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}

	#nav-icon4 span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #d5b37a;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	#nav-icon4 span:nth-child(1) {
	  top: 0px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	#nav-icon4 span:nth-child(2) {
		top: 7px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}

	#nav-icon4 span:nth-child(3) {
		top: 14px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}

	#nav-icon4.open span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: -3px;
		left: 8px;
	}

	#nav-icon4.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}

	#nav-icon4.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 18px;
		left: 8px;
	}

/*Header*/

/*Projects*/

	#projects {
		background-color: white;
	}

	.project-intro {
		font-family: 'Dancing Script', cursive;
		font-size: 3rem;
	}

	.project-logo-inner img:hover {
		transition: .2s ease-in-out;
		-webkit-filter: grayscale(0);  /*Safari 6.0 - 9.0 */
		filter: grayscale(0);
		height: 125px;
	}

	.project-logo-inner img {
		height: 120px;
		margin-top: 65px;
		-webkit-filter: grayscale(100%);  /*Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

	.project-logo {
		height: 300px;
	}

/*About*/

	#about {
		background: white;
		position: relative;
		height: 100vh;
	}

	.kp-portrait {
		height: 60%;
		width: 50%;
		-webkit-filter: sepia(70%); /* Safari 6.0 - 9.0 */
	    filter: sepia(70%);
	    position: absolute;
	    z-index: 1;
	    top: 13%;
	    left: 20%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.kp-about {
		font-family: 'Tinos', serif;
		background-color: white; 
		width: 250px;
		font-size: 14px;
		position: absolute;
		z-index: 2;
		bottom: 8%;
		right: 22%;
		text-align: justify;
		border: 1px solid #d5b37a;
	}

	.achievements {
		padding: 5px;
	}

	.kp-about h2 {
		padding-top: 15px;
		margin-bottom: 0;
		color: #1b2275;
	}

	.text-one {
		padding-top: 0;
	}

	/*Contact*/

	#contact {
		height: 100vh;
	}

	/*GALLERY*/

		#tsr {
			background-image: linear-gradient(#b2d3f9, #f0f3f7 10%, var(--white));
		}

		.parallax {
			height: 400px;
		}

		.project-tsr-details {
			background-color: white;
			border: solid 1px #d5b37a;
			padding: 30px 50px;
			line-height: 30px;
			text-align: justify;
			text-indent: 50px;
			margin-bottom: 50px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.display-logo {
			padding: 40px 0;
			width: 300px;
		}

		.tablist-column {
			padding: 20px;
		}

		#tsrTab li a {
			font-weight: bold;
			color: #906a29!important;
		}

		#tsr-table1, #tsr-table2, #gm-table1, #gm-table2, #mt-table1, #mt-table2, #pg-table1, #pg-table2, #qr-table1, #qr-table2 {
			border: 1px solid #d5b37a;
			background-color: white;
		}

		#tsrTab li .active {
			background-color: #906a29;
			color: white!important;
			font-weight: bold;
		}

		.tablist-column ul {
			padding-left: 15px;
			padding-top: 20px;
		}

		.tablist-column ul li {
			padding: 5px 10px 5px 10px;
		}

		table tbody tr {
			font-size: 15px;
		}

		table tbody tr {
			font-size: 15px;
		}

		tbody tr th, tbody tr td {
			padding: 5px!important;
		}

		.map-responsive {
			padding: 10px;
		}

		/*-- FLOOR PLANS CAROUSEL --*/

		#floor-plans-image {
			position: relative;
			left: 30%;
			width: 40%;
			height: 100%;
			padding-top: 20px;
		}

		#floor-plans-slide {
			background-color: #dee2e6;
			padding-bottom: 60px;
			margin-top: 20px;
		}

		.space {
			height: 200px;
		}

		#slideShowImage {
			padding: 20px;
		}


	/*---------------------------------MEDIA QUERIES--------------------------------*/

	@media (min-width: 610px) {
		#navbarForMobile {
			display: none;
		}
	}

	@media (min-width: 700px) and (max-width: 1000px) {
		header .logo {
			height: 90%!important;
			width: 34%!important;
		}

		.project-logo-inner img {
			-webkit-filter: grayscale(0);  /*Safari 6.0 - 9.0 */
			filter: grayscale(0);
		}


	}

	@media only screen 
	  and (min-width: 1024px) 
	  and (max-height: 1366px) 
	  and (-webkit-min-device-pixel-ratio: 1.5) {

		#about {
			height: 50vh;
		}

		.project-logo-inner img {
			-webkit-filter: grayscale(0);  /*Safari 6.0 - 9.0 */
			filter: grayscale(0);
		}
	}

	@media (min-width:320px) and (max-width: 600px){
		.kp-portrait {
			height: 220px;
			width: 90%;
			left: 10px;
			top: 40px;
		}

		.kp-about {
			right: 10px;
			bottom: 40px;
		}

		.kp-about h2, .text-one {
			text-align: right;
		}

		#about {
			height: 40rem;
		}

		header {
			display: none;
		}

		.project-tsr-details {
			font-size: 13px;
			line-height: 25px;
			padding: 30px 20px; 
		}

		.display-logo {
			width: 70%;
		}

		#tsrTab li a {
			font-weight: none;
			font-size: 15px;
			border: 1px solid #d4cfcf;
		}

		#slideShowImage {
			padding: 20px 0;
		}

		.parallax {
			display: none;
		}

		.mobile-header-design {
			background-image: url("../images/header-tsr.jpg");
			background-size: 100%;
			background-repeat: no-repeat;
			height: 100px;
		}

		.project-logo-inner img {
			height: 80%;
			margin-top: 0;
			-webkit-filter: grayscale(0);  /*Safari 6.0 - 9.0 */
			filter: grayscale(0);
		}

		.project-logo-inner img:hover {
			display: none;	
		}

		.project-logo .col-md-6 {
			height: 100px;
		}

		#special-target {
			height: 25%;
			width: inherit;
		}
	}
	
	@media (min-width:768px) and (max-width: 1000px) {
		#about {
			height: 70vh;
		}

		.kp-portrait {
			height: 50%;
			width: 80%; 
			left: 5%;
		}

		.kp-about {
			right: 5%;
		}
	}

	.navbar .navbar-toggler{
	    z-index:1000
	}
	@media (max-width: 600px){
	    .navbar .navbar-collapse{
	        background-color: white;
	        position:fixed;
	        top:0;
	        left:0;
	        right:0;
	        bottom:0;
	        transition:opacity 0.35s ease;
	        display:flex;
	        flex-direction:column;
	        align-content: flex-end;
	    }
	    .navbar .navbar-collapse.collapse{
	        display:flex;
	        opacity:0;
	        pointer-events:none
	    }
	    .navbar .navbar-collapse.collapsing[style*="height"]{
	        opacity:1;
	        height:100vh !important
	    }
	    .navbar .navbar-collapse.collapsing{
	        opacity:0;
	        height:100vh
	    }
	    .navbar .navbar-collapse.collapse.show{
	        opacity:1;
	        pointer-events:auto
	    }
	    .navbar .navbar-collapse .navbar-nav{
	        margin-top:100px;
	        margin-right: 15px;
	    }

	    .nav-link {
	    	font-size: 30px;
	    	font-weight: bold;
	    	color: #1b2275!important;
	    }
	}